/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
	color: #747f8c;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* whole page */
html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}

a {
	text-decoration: none;
	-webkit-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

a:link, a:visited {
	color: #38485a;
}

a:hover {
	color: #51aded;
}

p {
	font-size: 16px;
	font-size: 1.6rem;
}

.row {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 300px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

.clearfix::after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	width: 0;
}

.clearfix {
	*zoom: 1;
}

::-moz-selection {
	color: #fff;
	background: #364658;
}

::selection {
	color: #fff;
	background: #364658;
}

/* header */
header {
	top: 0;
	width: 100%;
	background: #fefefe;
	z-index: 10;
	border-bottom: 1px solid #e6eaed;
}

header .row {
	height: 64px;
	padding: 0;
}

header .logo {
	height: 64px;
	width: 80px;
	background: #fff;
	float: left;
	text-indent: -9999px;
	position: relative;
	-webkit-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	transition: 0.2s ease;
}

header .logo span {
	background: url("../images/36kr-logo.png") no-repeat;
	display: block;
	width: 55px;
	height: 30px;
	background-position: 0 -30px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -27.5px;
}

header li {
	float: left;
}

header .nav-left {
	float: left;
	border-top: 1px solid #e6eaed;
	width: 100%;
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

header .nav-left .drop-menu,
header .nav-left .more {
	display: none;
}

header .nav-left li {
	text-align: center;
	width: 25%;
}

header .nav-left li a {
	display: block;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
}

header .nav-left li a:link,
header .nav-left li a:visited {
	color: #51aded;
}

header .nav-left li a:focus,
header .nav-left li a:hover,
header .nav-left li a:active {
	color: #2397e8;
}

header .nav-left li.drop {
	position: relative;
}

header .search {
	width: 100%;
	border-top: 1px solid #e6eaed;
	height: 40px;
	float: left;
	display: none;
}

header .search input {
	-webkit-appearance: none;
	font-size: 16px;
	font-size: 1.6rem;
	width: 100%;
	border: none;
	outline: none;
	height: 40px;
	padding: 0 20px;
}


header .nav-right {
	float: right;
	height: 64px;
	line-height: 64px;
	display: none;
}

header .nav-right a {
	color: #38485a;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 0 10px;
}

header .nav-right a:hover {
	color: #11161b;
}

header .nav-right .submit {
	display: none;
}

header .nav-right .login a {
	color: #51aded;
	line-height: 28px;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #51aded;
	display: inline-block;
	margin-left: 15px;
}

header .nav-right .login a:hover {
	background: #51aded;
	color: #fff;
}

/* mini header */
header .mini {
	float: right;
}

header .mini a {
	display: block;
	height: 64px;
	line-height: 64px;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 0 20px;
	color: #747f8c;
	border-left: 1px solid #e6eaed;
}

header .mini .report-button {
	display: none;
}

header .mini .search-button a,
header .mini .menu-button a {
	background: url("../images/mini-button.png") no-repeat;
	text-indent: -9999px;
	width: 30px;
}

header .mini .search-button a {
	background-position: -70px 0;
}

/* container */
.container {
	margin-top: 30px;
	margin-bottom: 50px;
}

.container .main {
	width: 100%;
	float: left;
}

.headline {
	margin-bottom: 30px;
}

.headline h1 {
	color: #fff;
	font-weight: bold;
}

.headline article {
	position: relative;
	float: left;
	background-color: #434749;
	display: none;
}

.headline article:first-child {
	display: block;
}

.headline article a {
	width: 354px;
	height: 322px;
	display: table;
}

.headline article .topic {
	padding: 20px;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.headline article .topic h1 {
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.6;
}

.headline article:first-child a {
	height: 100%;
	width: auto;
	background: transparent;
	display: block;
}

.headline article:first-child img {
	width: 100%;
	height: auto;
	border: none;
	display: block;
}

.headline article:first-child h1 {
	font-size: 18px;
	font-size: 1.8rem;
	bottom: 20px;
	left: 20px;
	right: 20px;
	position: absolute;
	z-index: 3;
}

.img-overlay {
	width: 100%;
	height: 100%;
	z-index: 2;
	top: 0;
	left: 0;
	position: absolute;
}

.headline article:first-child .img-overlay {
	background: -moz-linear-gradient(top, rgba(0,122,255,0.3) 0%, rgba(0,0,0,0.99) 99%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,122,255,0.3)), color-stop(99%,rgba(0,0,0,0.99)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,122,255,0.3) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,122,255,0.3) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,122,255,0.3) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,122,255,0.3) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d007aff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	transition: 0.2s ease;
}

.headline article:first-child .img-overlay:hover {
	opacity: 0.3;
}

.headline article .one {
	background-image: -moz-linear-gradient(top, rgba(255,42,104,0.8) 0%, rgba(255,94,58,0.8) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,42,104,0.8)), color-stop(100%,rgba(255,94,58,0.8))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, rgba(255,42,104,0.8) 0%,rgba(255,94,58,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, rgba(255,42,104,0.8) 0%,rgba(255,94,58,0.8) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, rgba(255,42,104,0.8) 0%,rgba(255,94,58,0.8) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, rgba(255,42,104,0.8) 0%,rgba(255,94,58,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccff2a68', endColorstr='#ccff5e3a',GradientType=0 ); /* IE6-9 */
}

.headline article .two {
	background-image: -moz-linear-gradient(top,  rgba(198,68,252,0.8) 0%, rgba(88,86,214,0.8) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,68,252,0.8)), color-stop(100%,rgba(88,86,214,0.8))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(198,68,252,0.8) 0%,rgba(88,86,214,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(198,68,252,0.8) 0%,rgba(88,86,214,0.8) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(198,68,252,0.8) 0%,rgba(88,86,214,0.8) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  rgba(198,68,252,0.8) 0%,rgba(88,86,214,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc644fc', endColorstr='#cc5856d6',GradientType=0 ); /* IE6-9 */
}

.headline article .three {
	background-image: -moz-linear-gradient(top,  rgba(82,237,199,0.8) 0%, rgba(90,200,251,0.8) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(82,237,199,0.8)), color-stop(100%,rgba(90,200,251,0.8))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(82,237,199,0.8) 0%,rgba(90,200,251,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(82,237,199,0.8) 0%,rgba(90,200,251,0.8) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(82,237,199,0.8) 0%,rgba(90,200,251,0.8) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  rgba(82,237,199,0.8) 0%,rgba(90,200,251,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc52edc7', endColorstr='#cc5ac8fb',GradientType=0 ); /* IE6-9 */
}

.headline article .four {
	background-image: -moz-linear-gradient(top,  rgba(26,214,253,0.8) 0%, rgba(29,98,240,0.8) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,214,253,0.8)), color-stop(100%,rgba(29,98,240,0.8))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(26,214,253,0.8) 0%,rgba(29,98,240,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(26,214,253,0.8) 0%,rgba(29,98,240,0.8) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(26,214,253,0.8) 0%,rgba(29,98,240,0.8) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  rgba(26,214,253,0.8) 0%,rgba(29,98,240,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1ad6fd', endColorstr='#cc1d62f0',GradientType=0 ); /* IE6-9 */
}

.content {
	border-bottom: 1px solid #e6eaed;
}

.content h2 {
	font-size: 18px;
	font-size: 1.8rem;
	padding-bottom: 20px;
	border-bottom: 1px solid #e6eaed;
	text-transform: uppercase;
	font-weight: bold;
}

.content article {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e6eaed;
}

.content article .info {
	margin-bottom: 10px;
	height: 24px;
	line-height: 24px;
}

.content article .info .info-left {
	float: left;
	font-size: 14px;
	font-size: 1.4rem;
}

.content article .info .info-left a {
	font-weight: bold;
}

.content article .info .info-left .startups a {
	color: #ff6e27;
}

.content article .info .info-left .startups a:hover {
	color: #ff905a;
}

.content article .info .info-left .column a {
	color: #5856d6;
}

.content article .info .info-left .column a:hover {
	color: #3331c8;
}

.content article .info .info-left .breaking a {
	color: #509c3b;
}

.content article .info .info-left .breaking a:hover {
	color: #509c3b;
}

.content article .info .info-right {
	float: right;
	font-size: 12px;
	font-size: 1.2rem;
}

.content article .info .info-right .user {
	color: #2277b7;
}

.content article .info .info-right .date::before {
	content: "\00A0\2022\00A0"
}

.content article .col-left {
	float: left;
	position: relative;
}

.content article .col-left .replies {
	display: none;
}

.content article .col-left .replies span {
	margin-left: 30px;
}

.content article .col-left .news-image {
	width: 60px;
	height: 60px;
}

.content article .col-left img {
	height: 100%;
}

.content article .col-right {
	margin-left: 100px;
}

.content article .col-right h1 {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 16px;
	font-size: 1.6rem;
	word-break: break-all;
}

.content article .col-right h1 a {
	color: #38485a;
}

.content article .col-right h1 a:hover {
	color: #51aded;
}

.content article .col-right p {
	font-size: 16px;
	font-size: 1.6rem;
	display: none;
}

.content article.news-ad {
	display: none;
}

.content article.news-warp img {
	max-width: 100%;
	display: block;
}

.content article.news-warp a {
	display: block;
	position: relative;
	overflow: hidden;
}

.content article.news-warp .img-overlay {
	background: -moz-linear-gradient(top, rgba(0,122,255,0.3) 0%, rgba(0,0,0,0.99) 99%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,122,255,0.3)), color-stop(99%,rgba(0,0,0,0.99)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,122,255,0.3) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,122,255,0.3) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,122,255,0.3) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,122,255,0.3) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d007aff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	transition: 0.2s ease;
}

.content article.news-warp .img-overlay:hover {
	opacity: 0.3;
}

.content article.news-warp h1 {
	bottom: 20px;
	left: 20px;
	right: 20px;
	position: absolute;
	z-index: 3;
	color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
}

/* control */
.content .control {
	font-size: 14px;
	font-size: 1.4rem;
	padding-top: 20px;
	padding-bottom: 20px;
}

.content .control a {
	display: block;
	padding-right: 25px;
	padding-left: 25px;
	height: 30px;
	border: 2px solid #51aded;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	color: #51aded;
	line-height: 30px;
}

.content .control a span {
	font-weight: bold;
}

.content .control a:hover {
	color: #fff;
	background: #51aded;
}

.content .control .prev {
	float: left;
}

.content .control .next {
	float: right;
}

.content .control .disabled a {
	cursor: not-allowed;
	border-color: #9e9e9e;
	color: #9e9e9e;
}

.content .control .disabled a:hover {
	background: #9e9e9e;
	color: #fff;
}

/* aside */
.aside .tags {
	padding-bottom: 20px;
	border-bottom: 1px solid #e6eaed;
}

.aside .tags h2 {
	padding-top: 20px;
	font-size: 12px;
	font-size: 1.2rem;
	margin-bottom: 4px;
	text-transform: uppercase;
	font-weight: bold;
}

.aside .tags ul {
	margin-left: 10px;
	font-weight: bold;
}

.aside .tags ul li {
	line-height: 1.8;
	font-size: 16px;
	font-size: 1.6rem;
	float: left;
	margin-left: 8px;
}

.aside .tags ul li.tag-promoted a::after {
	content: "Promoted";
	display: inline-block;
	color: #fff;
	font-size: 10px;
	font-size: 1rem;
	background: #B6BCC4;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 1px 4px;
	margin-left: 5px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0.1em;
}

.aside .tags ul li.tag-new a::after {
	content: "\00A0\2022\00A0";
	color: #56AEEA;
}

.aside .social {
	padding-bottom: 20px;
	padding-top: 30px;
}

.aside .social p {
	font-size: 12px;
	font-size: 1.2rem;
	margin-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
}

.aside .social .qrcode {
	width: 162px;
	margin: 0 auto 20px auto;
}

.aside .social .qrcode img {
	width: 100%;
}

.aside .social .social-button ul {
	margin: 0 auto;
	width: 180px;
}

.aside .social .social-button ul li {
	float: left;
	margin: 0 6px;
	position: relative;
}

.aside .social .social-button ul li a {
	display: block;
	width: 32px;
	height: 32px;
	background: url("../images/social-logos.png") no-repeat;
	text-indent: -9999px;
}

.aside .social .social-button ul li.weibo a {
	background-position: 0 0;
}

.aside .social .social-button ul li.twitter a {
	background-position: -32px 0;
}

.aside .social .social-button ul li.facebook a {
	background-position: -64px 0;
}

.aside .social .social-button ul li.rss a {
	background-position: -96px 0;
}

.aside .social .social-button ul li .count {
	font-size: 14px;
	font-size: 1.4rem;
	position: absolute;
	left: -10px;
	width: 34px;
	text-align: center;
	margin-top: 10px;
	padding: 2px 8px;
	background: rgba(0,0,0,0.76);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.aside .social .social-button ul li .count::before {
	content: "";
	height: 0;
	width: 0;
	border-color: transparent transparent rgba(0,0,0,0.76) transparent;
	border-width: 6px;
	border-style: solid;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	top: -12px;
}

.aside .social .social-button ul li:hover .count {
	opacity: 1;
}

/* sidebar */
.sidebar {
	display: none;
	width: 280px;
}

.sidebar section {
	margin-bottom: 30px;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.5;
	width: 280px;
}

.sidebar .sidebar-ad img {
	max-width: 100%;
}

.sidebar .sidebar-tab {
	border: 1px solid #e6eaed;
}

.sidebar .sidebar-tab .tabs li {
	float: left;
	width: 92px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	border-bottom: 1px solid #e6eaed;
	border-left: 1px solid #e6eaed;
	-webkit-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-ms-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	transition: background 0.2s ease;
}

.sidebar .sidebar-tab .tabs li:first-child {
	border-left: none;
	width: 94px;
}

.sidebar .sidebar-tab .tabs li a {
	color: #51aded;
	font-weight: bold;
}

.sidebar .sidebar-tab .tabs li.selected {
	background: #e6eaed;
}

.sidebar .sidebar-tab .tabs li.selected a {
	color: #747f8c;
}

.sidebar .tabs-content {
	padding: 10px 20px;
	display: none;
}

.sidebar .tabs-content ul li {
	margin-bottom: 10px;
}

.sidebar .tabs-content ul li h2 a {
	padding-left: 5px;
	margin-left: -5px;
	border-left: 4px solid #51aded;
	font-weight: bold;
}

.sidebar .tabs-content.forum-content {
	display: block;
}

.sidebar .sidebar-comments h3,
.sidebar .sidebar-sponsor h3 {
	color: #fff;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
	line-height: 28px;
	background: #51aded;
	width: 86px;
	height: 28px;
	text-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.sidebar .sidebar-comments ul,
.sidebar .sidebar-sponsor ul {
	border-top: 1px solid #51aded;
	padding-top: 10px;
}

.sidebar .sidebar-sponsor ul li {
	border-bottom: 1px solid #e6eaed;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.sidebar .sidebar-sponsor ul li .img {
	height: 58px;
	width: 58px;
	float: right;
}

.sidebar .sidebar-sponsor ul li img {
	max-width: 100%;
}

.sidebar .sidebar-comments .comment-info {
	font-size: 12px;
	font-size: 1.2rem;
}

.sidebar .sidebar-comments li {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e6eaed;
}

.sidebar .sidebar-comments .comment-info a {
	color: #51aded;
}

.sidebar .sidebar-comments .comment-info .time::before {
	content: "\00A0\2022\00A0";
}

.sidebar .sidebar-comments .comment-content p {
	font-size: 14px;
	font-size: 1.4rem;
	color: #38485a;
	padding: 10px 20px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #e6eaed;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

.sidebar .sidebar-comments .comment-content p::before {
	content: "";
	border-color: transparent transparent #e6eaed transparent;
	border-style: solid;
	border-width: 5px;
	position: absolute;
	top: -10px;
}

.sidebar .sidebar-comments .comment-title p {
	font-size: 12px;
	font-size: 1.2rem;
}

.sidebar .sidebar-comments .comment-title p a {
	margin-left: 0.5em;
}

/* footer */
footer {
	background: #444749;
	color: rgba(236,235,231,0.5);
	padding: 40px 0;
}

footer a:link, footer a:visited {
	color: rgba(178,193,212,0.92);
}

footer a:hover {
	border-bottom: 1px solid rgba(172,172,164,0.7);
}

footer h3 {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 10px;
	color: #fff;
	font-weight: bold;
}

footer li {
	line-height: 2;
	font-size: 14px;
	font-size: 1.4rem;
}

footer .row div {
	margin-bottom: 10px;
}

footer .footer-partner li {
	margin-bottom: 10px;
}

footer .footer-partner a:hover {
	border: none;
}

footer .footer-copyright p, footer .footer-copyright a {
	font-size: 12px;
	font-size: 1.2rem;
}

footer .footer-copyright p {
	margin-bottom: 10px;
}

/* responsive */
@media screen and (min-width: 481px) {
	.row {
		padding-left: 30px;
		padding-right: 30px;
	}

	header .mini .report-button {
		display: list-item;
	}

	.headline article:first-child h1 {
		font-size: 24px;
		font-size: 2.4rem;
	}

	.content article .col-left .replies {
		display: block;
		position: absolute;
		width: 44px;
		height: 22px;
		background: url("../images/reply.png") 25% 50% no-repeat #F7464F;
		padding: 5px 10px;
		left: 0;
		top: 0;
		font-size: 12px;
		font-size: 1.2rem;
		color: #fff;
		line-height: 22px;
	}

	.content article .col-left .news-image {
		width: 180px;
		height: 120px;
	}

	.content article .col-right {
		margin-left: 200px;
	}

	.content article .col-right h1 {
		font-size: 20px;
		font-size: 2rem;
	}

	.content article .col-right p {
		display: block;
	}

	.content article.news-ad h1 {
		display: block;
	}

	.content article.news-ad h1 {
		font-size: 20px;
		font-size: 2rem;
		margin-bottom: 20px;
	}

	.content article.news-ad .info .info-right a {
		color: #51aded;
	}

	.content article.news-ad p a {
		color: #747f8c;
	}

	.content article.news-ad p a:hover {
		color: #51aded;
	}

	.content article.news-ad .col-right {
		width: 100px;
		height: 100px;
		float: right;
		margin: 0;
	}

	.content article.news-warp h1 {
		font-size: 20px;
		font-size: 2rem;
	}
}

@media screen and (min-width: 770px) {
	.row {
		max-width: 708px;
		padding-left: 0;
		padding-right: 0;
	}

	header {
		position: fixed;
		border-bottom: none;
		height: 64px;
		-webkit-transition: 0.2s ease;
		-o-transition: 0.2s ease;
		-ms-transition: 0.2s ease;
		-moz-transition: 0.2s ease;
		transition: 0.2s ease;
	}

	header .row {
		height: 80px;
	}

	header .logo {
		height: 80px;
		width: 80px;
		background: #1d71b6;
	}

	header .logo span {
		background-position: 0 0;
	}

	header .nav-left, header .nav-right {
		display: block;
	}

	header .nav-left {
		margin-left: 20px;
		border-top: none;
		padding-top: 0;
		padding-bottom: 0;
		width: auto;
	}

	header .nav-left li {
		width: auto;
	}

	header .nav-left li {
		padding: 0 14px;
	}
	header .nav-left li a {
		line-height: 64px;
	}

	header .nav-left li.drop > a::after {
		content: "";
		border-color: #51aded transparent transparent transparent;
		border-width: 4px;
		border-style: solid;
		position: absolute;
		top: 48%;
		right: 4px;
	}

	header .nav-left .drop-menu,
	header .nav-left .more {
		display: block;
	}

	header .mini {
		display: none;
	}

	header .mini .search-button a,
	header .mini .menu-button a {
		background: transparent;
	}

	/* header scrolled */
	header.scrolled {
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	}

	header.scrolled .row {
		height: 64px;
	}

	header.scrolled .logo {
		height: 64px;
		background: #fff;
	}

	header.scrolled .logo span {
		background-position: 0 -30px;
	}

	header.scrolled .nav-right .login a {
		background: #51aded;
		color: #fff;
	}

	/* dropdown menu */
	header .nav-left .drop-menu {
		position: absolute;
		background: #fff;
		z-index: 100;
		width: 230px;
		border: 1px solid #e6eaed;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.2);
		box-shadow: 0 2px 3px rgba(0,0,0,0.2);
		margin-top: -5px;
		opacity: 0;
		left: 0%;
		-webkit-transition: 0.3s ease;
		-o-transition: 0.3s ease;
		-ms-transition: 0.3s ease;
		-moz-transition: 0.3s ease;
		transition: 0.3s ease;
		pointer-events: none;
		-webkit-transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
		-moz-transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
		-ms-transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
		-o-transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
		transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
		-webkit-transform-origin: 20% 0;
		-moz-transform-origin: 20% 0;
		-ms-transform-origin: 20% 0;
		-o-transform-origin: 20% 0;
		transform-origin: 20% 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}

	header .nav-left .drop.active .drop-menu {
		opacity: 1;
		pointer-events: auto;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}


	header .nav-left .drop-menu::before {
		content: "";
		height: 12px;
		width: 20px;
		position: absolute;
		top: -12px;
		background: url("../images/triangle.png");
		left: 20%;
		margin-left: -5px;
	}

	header .nav-left .drop-menu li a {
		line-height: 1;
		color: #5F7083;
	}

	header .nav-left .drop-menu li a:hover {
		color: #51aded;
	}

	header .nav-left .drop-menu li a.product-img {
		width: 50px;
		height: 50px;
		float: left;
		margin-right: 10px;
		text-indent: -9999px;
		background: url("../images/products.png")
	}

	header .nav-left .drop-menu li  a.product-img.next {
		background-position: -50px;
	}

	header .nav-left .drop-menu li  a.product-img.keplus {
		background-position: -100px;
	}

	header .nav-left .drop-menu li  a.product-img.wise {
		background-position: -150px;
	}

	header .nav-left .drop-menu li  a.product-img.bj {
		background-position: -200px;
	}

	header .nav-left .drop-menu > ul > li {
		padding: 10px;
		border-bottom: 1px solid #e6eaed;
		display: block;
		width: 210px;
	}

	header .nav-left .drop-menu li h3,
	header .nav-left .drop-menu li h2,
	header .nav-left .drop-menu li span {
		text-align: left;
		display: block;
	}

	header .nav-left .drop-menu li h3 {
		margin-bottom: 10px;
		margin-top: 5px;
	}

	header .nav-left .drop-menu li .event-date {
		width: 40px;
		height: 40px;
		background: #51aded;
		padding: 5px;
		float: left;
		margin-right: 10px;
	}

	header .nav-left .drop-menu li .event-date span {
		color: #fff;
		text-align: center;
	}

	header .nav-left .drop-menu li .event-date span.month {
		font-size: 12px;
		font-size: 1.2rem;
	}

	header .nav-left .drop-menu li .event-date span.day {
		font-size: 24px;
		font-size: 2.4rem;
		font-weight: bold;
		margin-top: -8px;
	}

	header .nav-left .drop-menu li a.all {
		display: block;
		width: 150px;
		height: 32px;
		color: #fff;
		font-size: 12px;
		font-size: 1.2rem;
		line-height: 32px;
		text-align: center;
		background: #51aded;
		margin: 10px auto;
	}

	header .nav-left .drop-menu li a.all:hover {
		background: #2397e8;
	}

	header .nav-left .drop-menu li.topic ul,
	header .nav-left .drop-menu li.category ul {
		padding: 0 8px;
	}

	header .nav-left .drop-menu li.category h2,
	header .nav-left .drop-menu li.topic h2 {
		font-size: 12px;
		font-size: 1.2rem;
		margin-bottom: 5px;
		font-weight: bold;
	}

	header .nav-left .drop-menu li.category li {
		width: 50%;
		padding: 0;
		text-align: left;
		margin-bottom: 10px;
	}

	header .nav-left .drop-menu li.category a {
		font-size: 14px;
		font-size: 1.4rem;
	}

	header .nav-left .drop-menu li.topic li {
		width: 100%;
		text-align: left;
		font-size: 14px;
		font-size: 1.4rem;
		padding: 0;
		margin-bottom: 5px;
	}

	header .nav-left .drop-menu li.topic li a {
		display: inline;
		font-size: 14px;
		font-size: 1.4rem;
	}

	header .nav-left .drop-menu li.topic li.startups a {
		color: #ff905a;
	}

	header .nav-left .drop-menu li.topic li.startups a:hover {
		color: #ff6e27;
	}

	header .nav-left .drop-menu li.topic li.products a {
		color: #66bc4e;
	}

	header .nav-left .drop-menu li.topic li.products a:hover {
		color: #509c3b;
	}

	header .nav-left .drop-menu li.topic li.apps a {
		color: #3c8fe6;
	}

	header .nav-left .drop-menu li.topic li.apps a:hover {
		color: #1b75d4;
	}

	header .nav-left .drop-menu li.topic li.tech a {
		color: #34aadc;
	}

	header .nav-left .drop-menu li.topic li.tech a:hover {
		color: #218ebd;
	}

	header .nav-left .drop-menu li.topic li.web a {
		color: #5856d6;
	}

	header .nav-left .drop-menu li.topic li.web a:hover {
		color: #3331c8;
	}

	header .nav-left .drop-menu li.topic li.people a {
		color: #fc0;
	}

	header .nav-left .drop-menu li.topic li.people a:hover {
		color: #cca300;
	}

	header .nav-left .drop-menu li.topic li.brands a {
		color: #ff3b30;
	}

	header .nav-left .drop-menu li.topic li.brands a:hover {
		color: #fc0d00;
	}

	header .nav-left .drop-menu li.topic li.devices a {
		color: #19d5fd;
	}

	header .nav-left .drop-menu li.topic li.devices a:hover {
		color: #02bae1;
	}

	.container {
		margin-top: 125px;
	}


	.headline article {
		display: block;
	}
}

@media screen and (min-width: 935px) {
	.row {
		max-width: 874px;
	}

	.content {
		float: right;
		padding-left: 30px;
		border-bottom: none;
		width: 620px;
	}

	.container .main {
		width: 880px;
	}

	header .search {
		margin: 18px 0 0 20px;
		width: 200px;
		display: block;
		border: none;
		float: left;
	}

	header .search input {
		-webkit-border-radius: 50px;
		border-radius: 50px;
		float: right;
		line-height: 20px;
		background: #e6eaed;
		padding: 5px 20px;
		width: 70%;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		margin: 0;
		-webkit-box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.1);
		box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.1);
		-webkit-transition: 0.3s ease;
		-ms-transition: 0.3s ease;
		-o-transition: 0.3s ease;
		-moz-transition: 0.3s ease;
		transition: 0.3s ease;
		height: auto;
	}

	header .search input:focus {
		background: #d7dee2;
		width: 80%;
	}

	header .search input:focus::-webkit-input-placeholder {
		color: transparent;
	}

	.headline article:first-child a {
		height: 320px;
		width: 480px;
	}

	.headline article a {
		width: 200px;
		height: 160px;
	}

	.headline article .topic h1 {
		font-size: 14px;
		font-size: 1.4rem;
	}

	.content article .col-right {
		width: 420px;
	}

	.aside {
		width: 180px;
		position: absolute;
	}

	.aside .tags ul li {
		float: none;
		margin-left: 0;
	}

	footer {
		padding-left: 40px;
		padding-right: 40px;
	}

	footer .row div {
		float: left;
		width: 24%;
	}

	footer .row div.footer-copyright {
		float: right
	}
}

@media screen and (min-width: 1200px) {
	.row {
		max-width: 1180px;
	}

	header .search {
		margin: 18px 0 0 80px;
	}

	header .nav-left li {
		padding: 0;
	}

	header .nav-left > ul > li > a {
		font-size: 20px;
		font-size: 2rem;
		padding: 0 25px;
	}

	header .nav-left li.drop a::after {
		right: 12px;
	}

	header .nav-right .submit {
		display: list-item;
	}

	header .nav-left .drop-menu {
		left: 20%;
	}

	header .nav-left .drop-menu::before {
		margin-left: 0px;
	}

	.headline article a {
		width: 185px;
	}

	.content {
		padding: 0 30px;
	}

	.sidebar {
		display: block;
		float: right;
	}
}
